@media (max-width: 600px) {
  body {
    font-size: 14px;
    background-color: lightblue;
    padding: 2em;
  }
}

html {
  background-color: antiquewhite;
}

body {
  /*Figure out other ways to align content vertically*/
}

h1 {
  color: aqua;
  font-size: xx-large;
  text-decoration: wavy;
  /* Centering heading horizontally */
  text-align: center;
}

p {
  font-size: large;
}
.aboutMe {
  background-color: rgb(37, 123, 197);
  padding: 1.5em;
}

form {
  /* as part of the challegne, vertically align this one as well */
}
input {
  margin: 10px;
}

input:focus {
  color: blue;
}

#submit {
  padding: 10px;
}
