@media (max-width: 600px) {
  /* media query to define rules for screens smaller than 600px in width */
  body {
    font-size: 14px;
    background-color: lightblue;
    padding: 2em;
  }
}

* {
  box-sizing: border-box;
}

body {
  position: relative;
  background-color: antiquewhite;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  position: sticky;
  width: 90vw;
  top: 0;
  width: 90vw;
  padding: 5px;
  margin: 5px;
  background-color: rgba(85, 107, 47, 0.8);
  transition: background-color 0.3s ease, height 0.3s ease;
}

header:sticky {
  background-color: rgba(228, 240, 209, 0.5);
}

h1 {
  /* styles h1 */
  color: aqua;
  font-size: xx-large;
  text-decoration: wavy;
  /* Centering heading horizontally */
  text-align: center;
}

p {
  /* styles p font size */
  font-size: large;
}
.aboutMe {
  /* styles About section */
  background-color: rgb(37, 123, 197);
  padding: 1.5em;
}

input {
  /* styles input boxes */
  margin: 10px;
}

input:focus {
  /* styles input boxes when foused on */
  color: blue;
}

#submit {
  /* styles submit button */
  padding: 10px;
}

nav li {
  list-style: none;
}

nav li:hover {
  background-color: white;
}

nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}
